.mobile {
  display: none; }
  @media all and (max-width: 900px) {
    .mobile {
      display: block; } }

.desktop {
  display: block; }
  @media all and (max-width: 900px) {
    .desktop {
      display: none; } }

* {
  font-family: "Open Sans", sans-serif !important;
  outline: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

i {
  font-size: 20px;
  display: inline-block;
  color: inherit; }

body {
  background: #f5f8f8;
  font-size: 14px;
  padding: 50px;
  color: #3f454a; }
  @media all and (max-width: 900px) {
    body {
      padding: 0; } }

.area {
  background: #fff;
  margin: 0 0 30px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03); }

.central {
  width: 1170px;
  max-width: 100%;
  margin: auto; }

header {
  padding-top: 100px !important; }
  @media all and (max-width: 900px) {
    header {
      padding-top: 80px !important;
      padding-bottom: 80px !important;
      background: #f5f8f8 !important; } }
  @media all and (max-width: 900px) {
    header .profileInfo {
      float: none;
      clear: both;
      width: 100%; } }
  header .profileInfo figure {
    width: 170px;
    margin: 0 30px 0 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    z-index: 1; }
    @media all and (max-width: 900px) {
      header .profileInfo figure {
        width: 140px;
        background-size: 250% !important;
        margin: 0 auto 50px auto;
        float: none;
        text-align: center;
        font-size: 20px;
        font-weight: 500; } }
    header .profileInfo figure figcaption {
      padding: 10px 0 0 0;
      width: 100%; }
  header .profileInfo h4 {
    margin: 30px 0 10px 0; }
  header .profileInfo p i {
    margin: 0 5px 0 0; }
  header .rating {
    color: #727e88; }
    @media all and (max-width: 900px) {
      header .rating {
        float: none;
        clear: both; } }
    header .rating .stars {
      margin: 0 30px 0 0; }
      @media all and (max-width: 900px) {
        header .rating .stars {
          color: #007ee5; } }
    @media all and (max-width: 900px) {
      header .rating p {
        clear: both; } }
    header .rating p strong {
      color: #3f454a; }
  header .followers {
    color: #a6b0b7; }
    header .followers button {
      background: none; }
      header .followers button i {
        font-size: 25px;
        color: #a6b0b7; }
    header .followers p {
      margin: 5px 10px; }
      header .followers p strong {
        color: #3f454a; }
  header .navigation {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background: #fff;
    padding: 0 0 0 220px;
    bottom: 0;
    left: 0; }
    @media all and (max-width: 900px) {
      header .navigation {
        padding: 0; } }
    @media all and (max-width: 900px) {
      header .navigation nav {
        width: 100%;
        overflow-x: auto; }
        header .navigation nav:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 50px;
          height: 100%;
          background: url(../img/transparentGradient.png) right center repeat-y; } }
    header .navigation nav ul {
      text-transform: uppercase; }
      @media all and (max-width: 900px) {
        header .navigation nav ul {
          padding: 0 20px;
          width: 460px; } }
      header .navigation nav ul li {
        float: left;
        margin: 0 20px 0 0; }
        header .navigation nav ul li.current a {
          border-bottom-color: #007ee5; }
        header .navigation nav ul li a {
          padding: 20px 0;
          display: block;
          border-bottom: solid 2px transparent;
          font-weight: 500; }
    header .navigation .right {
      color: #a6b0b7; }
      header .navigation .right button {
        background: none; }
        header .navigation .right button i {
          font-size: 25px;
          color: #a6b0b7; }
      header .navigation .right p {
        margin: 5px 15px; }
        header .navigation .right p strong {
          color: #3f454a; }
  header .coverBtn {
    width: 220px;
    height: 40px;
    margin: auto;
    left: 50%;
    margin-left: -110px;
    top: 40px;
    text-align: center; }
    header .coverBtn a {
      display: block;
      border: solid 1px;
      height: 100%;
      line-height: 30px;
      color: #a6b0b7; }
      header .coverBtn a i {
        display: inline-block;
        margin: 0 5px 0 0;
        font-size: 26px; }
  header .logoutBtn {
    width: 100px;
    height: 30px;
    right: 20px;
    top: 20px;
    text-align: center;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: bolder; }
    header .logoutBtn a {
      display: block;
      height: 100%;
      color: #007ee5;
      border: solid 1px; }
      @media all and (max-width: 900px) {
        header .logoutBtn a {
          border-color: transparent; } }
      header .logoutBtn a:hover {
        background: #007ee5;
        color: #fff; }

main {
  min-height: 600px; }
  @media all and (max-width: 900px) {
    main {
      padding: 20px !important;
      border-top: solid 1px rgba(0, 0, 0, 0.1);
      border-bottom: solid 1px rgba(0, 0, 0, 0.1); } }
  main > div > h3 {
    color: #727e88;
    font-size: 24px;
    margin-bottom: 20px; }
  main .content {
    margin: 20px 0; }
    main .content .editableContent ul {
      list-style-type: none; }
      main .content .editableContent ul li {
        background: #f5f8f8;
        float: left;
        clear: both; }
        main .content .editableContent ul li > * {
          padding: 10px;
          display: inline-block; }
        main .content .editableContent ul li > button {
          padding: 7px 10px;
          background: rgba(0, 0, 0, 0.05);
          color: #727e88; }
          main .content .editableContent ul li > button:hover {
            background: #007ee5;
            color: #fff; }
        main .content .editableContent ul li .baloon {
          display: none;
          width: 300px;
          padding: 20px;
          background: #fff;
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
          top: 0;
          left: calc(100% - 38px); }
          main .content .editableContent ul li .baloon:before {
            content: "";
            position: absolute;
            left: -20px;
            top: 10px;
            border: solid 10px transparent;
            border-right: solid 10px #fff; }
          main .content .editableContent ul li .baloon small {
            text-transform: uppercase;
            font-size: 14px;
            color: #a6b0b7; }
          main .content .editableContent ul li .baloon input {
            padding: 5px 0px;
            border-bottom: solid 1px #ddd;
            margin: 20px 0;
            width: 100%; }
          main .content .editableContent ul li .baloon button {
            background: #fff;
            border: solid 1px #007ee5;
            color: #007ee5;
            font-weight: bolder;
            text-transform: uppercase;
            font-size: 12px; }
            main .content .editableContent ul li .baloon button:hover {
              background: #007ee5;
              color: #fff; }
        main .content .editableContent ul li.active {
          z-index: 1; }
          main .content .editableContent ul li.active .baloon {
            display: block; }
    main .content .mobileContent .infos h5 {
      font-weight: 500; }
    main .content .mobileContent .infos .info i {
      color: #a6b0b7;
      margin: 0 10px 0 0; }
    main .content .mobileContent .mobileEditableContent {
      display: none; }
      main .content .mobileContent .mobileEditableContent > div {
        margin-bottom: 20px; }
      main .content .mobileContent .mobileEditableContent small {
        text-transform: uppercase;
        font-size: 13px;
        color: #a6b0b7;
        display: block; }
      main .content .mobileContent .mobileEditableContent input {
        padding: 10px 0;
        border-bottom: solid 1px #a6b0b7;
        width: 100%; }
  main .edit {
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    background: #f5f8f8;
    color: #727e88; }
    main .edit:hover {
      background: #007ee5;
      color: #fff; }
  main .buttons {
    top: 15px;
    right: 15px;
    width: 150px;
    height: 35px;
    display: none; }
    main .buttons button {
      text-transform: uppercase;
      display: block;
      height: 100%;
      background: #fff;
      color: #007ee5; }
  main.editing .mobileContent .infos {
    display: none; }
  main.editing .mobileEditableContent, main.editing .buttons {
    display: block !important; }

/*# sourceMappingURL=custom.css.map */
