// colors

$color_blue: #007ee5
$color_grey: #f5f8f8
$color_grey2: #a6b0b7
$color_grey3: #3f454a
$color_grey4: #727e88

$mobile: 900px

// screen conditions

.mobile
	display: none

	@media all and (max-width: $mobile)
		display: block

.desktop
	display: block

	@media all and (max-width: $mobile)
		display: none

// structure

*
	font-family: 'Open Sans', sans-serif!important
	outline: none

a
	text-decoration: none
	color: inherit
	cursor: pointer

i
	font-size: 20px
	display: inline-block
	color: inherit

body
	background: $color_grey
	font-size: 14px
	padding: 50px
	color: $color_grey3

	@media all and (max-width: $mobile)
		padding: 0

.area
	background: #fff
	margin: 0 0 30px 0
	box-shadow: 0 0 10px rgba(0,0,0,0.03)

.central
	width: 1170px
	max-width: 100%
	margin: auto

header
	padding-top: 100px!important

	@media all and (max-width: $mobile)
		padding-top: 80px!important
		padding-bottom: 80px!important
		background: $color_grey!important

	.profileInfo
		@media all and (max-width: $mobile)
			float: none
			clear: both
			width: 100%
		figure
			width: 170px
			margin: 0 30px 0 0
			box-shadow: 0 0 30px rgba(0,0,0,0.1)
			z-index: 1
			@media all and (max-width: $mobile)
				width: 140px
				background-size: 250%!important
				margin: 0 auto 50px auto
				float: none
				text-align: center
				font-size: 20px
				font-weight: 500
			img
			figcaption
				// display: none
				padding: 10px 0 0 0
				width: 100%
		h4
			margin: 30px 0 10px 0
		p
			i
				margin: 0 5px 0 0
	.rating
		color: $color_grey4
		@media all and (max-width: $mobile)
			float: none
			clear: both
		.stars
			margin: 0 30px 0 0
			@media all and (max-width: $mobile)
				color: $color_blue
			i
		p
			@media all and (max-width: $mobile)
				clear: both
			strong
				color: $color_grey3

	.followers
		color: $color_grey2
		button
			background: none
			i
				font-size: 25px
				color: $color_grey2
		p
			margin: 5px 10px
			strong
				color: $color_grey3
	.navigation
		// height: 100px
		box-shadow: 0 0 10px rgba(0,0,0,0.05)
		background: #fff
		padding: 0 0 0 220px
		bottom: 0
		left: 0

		@media all and (max-width:$mobile)
			padding: 0

		nav
			@media all and (max-width:$mobile)
				width: 100%
				overflow-x: auto

				&:after
					content: ''
					position: absolute
					right: 0
					top: 0
					width: 50px
					height: 100%
					background: url(../img/transparentGradient.png) right center repeat-y

			ul
				text-transform: uppercase
				// font-weight: 500

				@media all and (max-width: $mobile)
					padding: 0 20px
					width: 460px
				li
					float: left
					margin: 0 20px 0 0
					&.current
						a
							border-bottom-color: $color_blue

					a
						padding: 20px 0
						display: block
						border-bottom: solid 2px transparent
						font-weight: 500
		.right
			color: $color_grey2
			button
				background: none
				i
					font-size: 25px
					color: $color_grey2
			p
				margin: 5px 15px
				strong
					color: $color_grey3
	.coverBtn
		width: 220px
		height: 40px
		margin: auto
		left: 50%
		margin-left: -110px
		top: 40px
		text-align: center
		a
			display: block
			border: solid 1px
			height: 100%
			line-height: 30px
			color: $color_grey2
			span
				// margin: -10px 0 0 0
			i
				display: inline-block
				margin: 0 5px 0 0
				font-size: 26px
	.logoutBtn
		width: 100px
		height: 30px
		right: 20px
		top: 20px
		text-align: center
		line-height: 25px
		text-transform: uppercase
		font-weight: bolder
		a
			display: block
			height: 100%
			color: $color_blue
			border: solid 1px

			@media all and (max-width:$mobile)
				border-color: transparent

			&:hover
				background: $color_blue
				color: #fff

main
	min-height: 600px

	@media all and (max-width:$mobile)
		padding: 20px!important
		border-top: solid 1px rgba(0,0,0,0.1)
		border-bottom: solid 1px rgba(0,0,0,0.1)
	> div > h3
		color: $color_grey4
		font-size: 24px
		margin-bottom: 20px

	.content
		margin: 20px 0
		.editableContent
			ul
				list-style-type: none
				li
					background: $color_grey
					float: left
					clear: both
					// padding: 5px 10px
					> *
						padding: 10px
						display: inline-block
					> button
						padding: 7px 10px
						background: rgba(0,0,0,0.05)
						color: $color_grey4

						&:hover
							background: $color_blue
							color: #fff
						i
					.baloon
						display: none
						width: 300px
						padding: 20px
						background: #fff
						box-shadow: 0 0 50px rgba(0,0,0,0.2)
						top: 0
						left: calc(100% - 38px)

						&:before
							content: ''
							position: absolute
							left: -20px
							top: 10px
							border: solid 10px transparent
							border-right: solid 10px #fff

						small
							text-transform: uppercase
							font-size: 14px
							color: $color_grey2
						input
							padding: 5px 0px
							border-bottom: solid 1px #ddd
							margin: 20px 0
							width: 100%
						hr
						button
							background: #fff
							border: solid 1px $color_blue
							color: $color_blue
							font-weight: bolder
							text-transform: uppercase
							font-size: 12px

							&:hover
								background: $color_blue
								color: #fff

					&.active
						z-index: 1
						.baloon
							display: block

			
		.mobileContent
			.infos
				h5
					font-weight: 500
				.info
					i
						color: $color_grey2
						margin: 0 10px 0 0

			.mobileEditableContent
				display: none
				> div
					margin-bottom: 20px
				small
					text-transform: uppercase
					font-size: 13px
					color: $color_grey2
					display: block
				input
					padding: 10px 0
					border-bottom: solid 1px $color_grey2
					width: 100%
	.edit
		top: 15px
		right: 15px
		padding: 5px 10px
		background: $color_grey
		color: $color_grey4

		&:hover

			background: $color_blue
			color: #fff

	.buttons
		top: 15px
		right: 15px
		width: 150px
		height: 35px
		display: none

		button
			text-transform: uppercase
			display: block
			// padding: 10px 20px
			height: 100%
			background: #fff
			color: $color_blue
			// border: solid 1px

	
	&.editing

		.mobileContent
			.infos
				display: none

		.mobileEditableContent, .buttons
			display: block!important
