                                <div class="absolute baloon padding-20">
                                    <small class="block">Edit content</small>
                                    <input type="text">

                                    <div class="clear clearfix">
                                        <button class="left br-3 padding-10 largura-50">Save</button>
                                        <button class="right br-3 padding-10 largura-47">Cancel</button>             
                                    </div>
                                </div>