                    <h3>About</h3>
                    <div class="editableContent desktop">
                        <ul>
                            <li class="relative">
                                <h5 class="name">Jessica Parker</h5>
                                <button onclick="editContentBaloon(this);" class="edit"><i class="ion-edit"></i></button>

                                <div class="absolute baloon padding-20">
                                    <small class="block">Edit content</small>
                                    <input type="text">

                                    <div class="clear clearfix">
                                        <button class="left br-3 padding-10 largura-50" onclick="changeValues(this, 'name')">Save</button>
                                        <button class="right br-3 padding-10 largura-47" onclick="this.parentNode.parentNode.parentNode.classList.remove('active');">Cancel</button>
                                    </div>
                                </div>
                            </li>
                            <li class="relative">
                                <i class="ion-earth"></i>
                                <span class="site">www.test.com.br</span>
                                <button onclick="editContentBaloon(this);" class="edit"><i class="ion-edit"></i></button>

                                <div class="absolute baloon padding-20">
                                    <small class="block">Edit content</small>
                                    <input type="text">

                                    <div class="clear clearfix">
                                        <button class="left br-3 padding-10 largura-50" onclick="changeValues(this, 'site')">Save</button>
                                        <button class="right br-3 padding-10 largura-47" onclick="this.parentNode.parentNode.parentNode.classList.remove('active');">Cancel</button>
                                    </div>
                                </div>
                            </li>
                            <li class="relative">
                                <i class="ion-ios-telephone-outline"></i>
                                <span class="phone">(999) 999-99999</span>
                                <button onclick="editContentBaloon(this);" class="edit"><i class="ion-edit"></i></button>

                                <div class="absolute baloon padding-20">
                                    <small class="block">Edit content</small>
                                    <input type="text">

                                    <div class="clear clearfix">
                                        <button class="left br-3 padding-10 largura-50" onclick="changeValues(this, 'phone')">Save</button>
                                        <button class="right br-3 padding-10 largura-47" onclick="this.parentNode.parentNode.parentNode.classList.remove('active');">Cancel</button>
                                    </div>
                                </div>
                            </li>
                            <li class="relative">
                                <i class="ion-ios-home-outline"></i>
                                <span class="place">Newport Beach, CA</span>
                                <button onclick="editContentBaloon(this);" class="edit"><i class="ion-edit"></i></button>

                                <div class="absolute baloon padding-20">
                                    <small class="block">Edit content</small>
                                    <input type="text">

                                    <div class="clear clearfix">
                                        <button class="left br-3 padding-10 largura-50" onclick="changeValues(this, 'place')">Save</button>
                                        <button class="right br-3 padding-10 largura-47" onclick="this.parentNode.parentNode.parentNode.classList.remove('active');">Cancel</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="mobileContent mobile relative">


                        <div class="infos margin-ver-30">
                            <h5 class="margin-ver-10">Jessica Parker</h5>
                            <div class="info padding-5">
                                <i class="ion-earth"></i>
                                <span class="site">www.test.com</span>
                            </div>
                            <div class="info padding-5">
                                <i class="ion-ios-telephone-outline"></i>
                                <span class="phone">(999) 999-99999</span>
                            </div>
                            <div class="info padding-5">
                                <i class="ion-ios-home-outline"></i>
                                <span class="place">Newport Beach, CA</span>
                            </div>
                        </div>

                        <div class="mobileEditableContent">
                            <div class="clear clearfix margin-ver-10">
                                <small>First Name</small>
                                <input type="text" name="firstname">
                            </div>
                            <div class="clear clearfix margin-ver-10">
                                <small>Last Name</small>
                                <input type="text" name="lastname">
                            </div>
                            <div class="clear clearfix margin-ver-10">
                                <small>Website</small>
                                <input type="text" name="site">
                            </div>
                            <div class="clear clearfix margin-ver-10">
                                <small>Phone</small>
                                <input type="text" name="phone">
                            </div>
                            <div class="clear clearfix margin-ver-10">
                                <small>City</small>
                                <input type="text" name="place">
                            </div>
                        </div>
                    </div>

                    <button class="absolute edit mobile" onclick="this.parentNode.parentNode.classList.add('editing');">
                        <i class="ion-edit"></i>
                    </button>

                    <div class="buttons absolute mobile">
                        <button class="left largura-50 left" onclick="saveFromMobile(this);">Save</button>
                        <button class="left largura-47 right" onclick="this.parentNode.parentNode.parentNode.classList.remove('editing');">Cancel</button>
                    </div>                    
